<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />

        <!-- Activer la réécriture d'URL -->
        <rewrite>
            <rules>
                <!-- Rediriger toutes les requêtes vers index.php -->
                <rule name="Redirect to index.php" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
